
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/target
*.class
*.ear
*.iml
*.jar
*.war
*~
.mtj.tmp/
/.idea
/.mvn/wrapper/maven-wrapper.jar
/bin/
/build/
/lib/
/target/
/tmp/
hs_err_pid*
pom.xml.versionsBackup
